*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    font-family: 'Hina Mincho', serif;
    font-weight: normal;
}

body{
    font-family: 'Rampart One', cursive;
    text-align: center;
}

header .container {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff8800;
}

.container h2{
    font-size: 42px;
}


.articles{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.articles img{
    width:75%;
}

section{
    padding: 18px;
}

section h2
.articles article{
    margin-bottom: 12px;
}

.articles article h3{
    margin-bottom: 18px;
    margin-top: 20px;
}

.articles article h3{
    font-size: 28px;
}

section h2{
    font-size: 32px;
}

section p{
    font-size: 24px;
}

#titulos{
    color: yellow;
    background-color: rgb(163, 160, 160);
}

#wins{
    color: red;
    background-color: rgb(163, 160, 160);
}

#podium{
    color:rgb(0, 0, 0);
    background-color: rgb(163, 160, 160);
}

#races{
    color: rgb(0, 0, 0);
    background-color: rgb(163, 160, 160);
}


